<div class="profile-wrapper">
  <div class="profile-card">
    <!-- ปุ่มด้านบนขวา -->
    <div class="top-button-bar">
      <div class="left-buttons">
        <button
          *ngIf="isAdmin; else userTemplate"
          class="back-btn"
          (click)="goToMainPage()"
        >
          🔙 กลับ
        </button>

        <ng-template #userTemplate>
          <button class="logout-btn" (click)="logout()">🚪 ออกจากระบบ</button>

          <button class="back-btn">➡️ ไปเพิ่มอาชีพ</button>
        </ng-template>
      </div>

      <button
        *ngIf="isAdmin"
        type="button"
        class="delete-btn"
        (click)="deleteAccount()"
      >
        🗑 ลบ Account
      </button>
    </div>

    <!-- รูปภาพ -->
    <div class="profile-image-wrapper">
      <img
        [src]="
          account?.data?.pathpicture ? account.data.pathpicture : picdefault
        "
        alt="โปรไฟล์"
        class="profile-image"
      />
      <label class="change-image-btn">
        📷 เปลี่ยนรูป
        <input
          type="file"
          hidden
          (change)="onFileSelected($event)"
          accept="image/*"
        />
      </label>
    </div>

    <!-- ฟอร์ม -->
    <form *ngIf="account" (ngSubmit)="updateProfile()" class="profile-form">
      <div>
        <label class="form-label">Username</label>
        <input
          type="text"
          [(ngModel)]="account.data.username"
          (ngModelChange)="onInputChange()"
          name="username"
          required
          class="form-input"
        />
      </div>

      <div class="password-wrapper">
        <label class="form-label">Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="account.data.password"
          name="password"
          required
          class="form-input"
          (ngModelChange)="onInputChange()"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="toggle password"
        >
          <svg
            *ngIf="showPassword"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            style="width: 30px; height: 30px"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            />
          </svg>
          <svg
            *ngIf="!showPassword"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            style="width: 30px; height: 30px"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
            />
          </svg>
        </button>
      </div>

      <div>
        <label class="form-label">ชื่อ</label>
        <input
          [(ngModel)]="account.data.fname"
          name="fname"
          required
          class="form-input"
          (ngModelChange)="onInputChange()"
        />
      </div>

      <div>
        <label class="form-label">นามสกุล</label>
        <input
          [(ngModel)]="account.data.lname"
          (ngModelChange)="onInputChange()"
          name="lname"
          required
          class="form-input"
        />
      </div>

      <div>
        <label class="form-label">เพศ</label>
        <select
          [(ngModel)]="account.data.gender"
          name="gender"
          class="form-input"
          (ngModelChange)="onInputChange()"
        >
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div>
        <label class="form-label">คำอธิบาย</label>
        <textarea
          [(ngModel)]="account.data.description"
          name="description"
          class="form-input h-24"
          (ngModelChange)="onInputChange()"
        ></textarea>
      </div>

      <div class="form-submit">
        <button
          type="submit"
          class="submit-btn"
          [disabled]="!isFormChanged"
          [class.disabled]="!isFormChanged"
        >
          💾 บันทึกข้อมูล
        </button>
      </div>
    </form>
  </div>
</div>
