<div class="profile-wrapper">
    

      
    <div class="profile-card">

        <div class="back-btn-wrapper">
            <button class="back-btn" (click)="goToMainPage()">
              🔙 กลับหน้า MainPage
            </button>
          </div>

          <button type="button" class="submit-btn bg-red-500 hover:bg-red-600" (click)="deleteAccount()">
            🗑 ลบ Account
          </button>
  
      <!-- Profile Image -->
      <div class="profile-image-wrapper">
        <img
  [src]="account.pathpicture ? account.pathpicture : picdefault"
  alt="โปรไฟล์"
  class="profile-image"
/>

        <label class="change-image-btn">
          📷 เปลี่ยนรูป
          <input type="file" hidden (change)="onFileSelected($event)" accept="image/*" />
        </label>
      </div>
  
      <!-- Profile Form -->
      <form *ngIf="account" (ngSubmit)="updateProfile()" class="profile-form">
        
        <div>
          <label class="form-label">Username</label>
          <input type="text" [(ngModel)]="account.username" name="username" required class="form-input" />
        </div>
  
        <div class="password-wrapper">
            <label class="form-label">Password</label>
            <input
              [type]="showPassword ? 'text' : 'password'"
              [(ngModel)]="account.password"
              name="password"
              required
              class="form-input pr-10"
            />
            <span class="toggle-password" (click)="togglePasswordVisibility()">
              {{ showPassword ? '🙈' : '👁️' }}
            </span>
          </div>
          
  
        <div>
          <label class="form-label">ชื่อ</label>
          <input [(ngModel)]="account.fname" name="fname" required class="form-input" />
        </div>
  
        <div>
          <label class="form-label">นามสกุล</label>
          <input [(ngModel)]="account.lname" name="lname" required class="form-input" />
        </div>
  
        <div>
          <label class="form-label">เพศ</label>
          <select [(ngModel)]="account.gender" name="gender" class="form-input">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
  
        <div>
          <label class="form-label">คำอธิบาย</label>
          <textarea [(ngModel)]="account.description" name="description" class="form-input h-24"></textarea>
        </div>
  
        <div class="form-submit">
          <button type="submit" class="submit-btn">
            💾 บันทึกข้อมูล
          </button>
        </div>
  
      </form>
  
    </div>
  </div>
  