<div class="form-container">
  <h2>📁 เลือกโฟลเดอร์ แล้วยิง GET</h2>

  <button class="back-btn" (click)="goToMainPage()">
    🔙 กลับหน้า MainPage
  </button>

  <input
    type="file"
    webkitdirectory
    (change)="onFolderSelect($event)"
    class="input-file"
  /><br /><br />

  <form (submit)="submitZip(); $event.preventDefault()">
    <div class="form-group">
      <label for="sourceFolder">📁 Path ที่ได้จากโฟลเดอร์:</label>
      <input
        type="text"
        id="sourceFolder"
        [(ngModel)]="sourceFolder"
        name="sourceFolder"
        required
      />
    </div>

    <div class="form-group">
      <label for="zipName">📦 ชื่อ ZIP:</label>
      <input
        type="text"
        id="zipName"
        [(ngModel)]="zipName"
        name="zipName"
        required
      />
    </div>

    <button type="submit" class="submit-btn">🚀 สร้าง ZIP</button>
  </form>
</div>
