<h2>📁 เลือกโฟลเดอร์ แล้วยิง GET</h2>
<button class="back-btn" (click)="goToMainPage()">
    🔙 กลับหน้า MainPage
  </button>
<input type="file" webkitdirectory (change)="onFolderSelect($event)" /><br/><br/>

<form (submit)="submitZip(); $event.preventDefault()">
  <label>📁 Path ที่ได้จากโฟลเดอร์:</label><br />
  <input type="text" [(ngModel)]="sourceFolder" name="sourceFolder" required /><br/><br/>

  <label>📦 ชื่อ ZIP:</label><br />
  <input type="text" [(ngModel)]="zipName" name="zipName" required /><br/><br/>

  <button type="submit">🚀 สร้าง ZIP</button>
</form>
